<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="godaddy:BaseUrl" value="https://api.godaddy.com"/>
    <add key="godaddy:apikey" value=""/>
    <add key="godaddy:apisecret" value=""/>
    

  </appSettings>
</configuration>